---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
	<h1>
		{SITE_TITLE}
	</h1>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="/bookmarked">Bookmarked</HeaderLink>
		<HeaderLink href="/today-i-learned">Today I learned</HeaderLink>
	</nav>
</header>
<style>
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 64px;
	}
	header h1 {
		color: var(--medium-green);
	}

	header a {
		text-decoration: none;
	}
	
	nav {
		display: flex;
	}
</style>
