---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	* {
		--dark-green: #232F27;
	}
	a {
		text-decoration: none;
		color: var(--dark-green);
		padding: 20px;
	}
	a.active {
		font-weight: bolder;
	}
</style>
