---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
	<h1>
		{SITE_TITLE}
	</h1>
	<nav>
		<HeaderLink href="/" icon="house">Home</HeaderLink>
		<HeaderLink href="/about" icon="user">About</HeaderLink>
		<HeaderLink href="/bookmarked" icon="leaf">Plants</HeaderLink>
		<HeaderLink href="/today-i-learned" icon="code">Tech</HeaderLink>
	</nav>
	<div id="menu-icon-wrapper">
		<img id="menu-icon" src="/img/menu.svg" width="24" height="24" />
	</div>
</header>
<style>
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 64px;
	}
	header h1 {
		color: var(--medium-green);
	}

	header a {
		text-decoration: none;
	}

	nav {
		display: flex;
	}

	/* nav :last-child {
		padding-right: 0;
	} */

	#menu-icon-wrapper {
		display: none;
		z-index: 1;
	}

	@media (max-width: 650px) {
		header {
			width: 100%;
		}

		nav {
			height: 100%;
			position: absolute;
			top: 24px;
			right: 0;
			/* background-color: var(--medium-green); */
			flex-direction: column;
			transform: translateX(100%);
			padding-top: 36px;
			display: none;
		}

		nav a {
			color: var(--medium-green);
		}

		#menu-icon-wrapper {
			display: inline-block;
			width: 24px;
			height: 24px;
			overflow: hidden;
		}
	}
</style>
<style is:global>
	.navOpen {
		transform: translateX(0);
		display: block;;
	}
</style>

<script>
	const closeImage = new Image(24, 24);
	closeImage.src = "/img/close.svg";
	let isOpen = false;

	const menuIcon = document.querySelector("#menu-icon");
	const nav = document.querySelector('nav')
	menuIcon?.addEventListener("click", () => {
		isOpen = !isOpen;
		if (isOpen) {
			menuIcon.src = closeImage.src;
			nav?.classList.add('navOpen');

		} else {
			menuIcon.src = "/img/menu.svg";
			nav?.classList.toggle('navOpen');
		}
	});
</script>
