---
import FormattedDate from "../components/FormattedDate.astro";
const { posts } = Astro.props;
---

<style>
    div {
        display: flex;
    }
    div > * { border: none; }
</style>
<h2>Latest socials</h2>
<div>
    <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@salijero/video/7200320886686092550"
        data-video-id="7200320886686092550" style="max-width: 605px;min-width: 325px;">
        <section>
            <a target="_blank" title="@salijero" href="https://www.tiktok.com/@salijero?refer=embed">@salijero</a>
            Part 1 of me installing the Infinity
            <a title="growlights" target="_blank"
                href="https://www.tiktok.com/tag/growlights?refer=embed">#growlights</a>
            from makemyled.com.au. Doing a bit of an
            <a title="ikeahack" target="_blank" href="https://www.tiktok.com/tag/ikeahack?refer=embed">#ikeahack</a>
            <a target="_blank" title="♬ Dreamy Vibes - Ocean Bay Jazz"
                href="https://www.tiktok.com/music/Dreamy-Vibes-6820895994511624194?refer=embed">♬ Dreamy Vibes -
                Ocean
                Bay Jazz</a>
        </section>
    </blockquote>
    <script async src="https://www.tiktok.com/embed.js"></script>
    <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@salijero/video/7200647458777517317"
        data-video-id="7200647458777517317" style="max-width: 605px;min-width: 325px;">
        <section>
            <a target="_blank" title="@salijero" href="https://www.tiktok.com/@salijero?refer=embed">@salijero</a>
            Part 2 of installing my new
            <a title="growlights" target="_blank"
                href="https://www.tiktok.com/tag/growlights?refer=embed">#growlights</a>
            from makemyled.com.au. I give them a bit of a spray paint and show you how I attach them to the
            <a title="ikeahack" target="_blank" href="https://www.tiktok.com/tag/ikeahack?refer=embed">#ikeahack</a>
            shelves. Cameo of my
            <a title="philodendronverrucosum" target="_blank"
                href="https://www.tiktok.com/tag/philodendronverrucosum?refer=embed">
                #philodendronverrucosum</a>
            <a target="_blank" title="♬ Circus - Funny Circus Band"
                href="https://www.tiktok.com/music/Circus-6709400380771403778?refer=embed">♬ Circus - Funny Circus
                Band</a>
        </section>
    </blockquote>
    <script async src="https://www.tiktok.com/embed.js"></script>
    <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@salijero/video/7200845486914342150"
        data-video-id="7200845486914342150" style="max-width: 605px;min-width: 325px;">
        <section>
            <a target="_blank" title="@salijero" href="https://www.tiktok.com/@salijero?refer=embed">@salijero</a>
            Part 3: see the finished installation of my makemyled.com.au
            <a title="growlights" target="_blank"
                href="https://www.tiktok.com/tag/growlights?refer=embed">#growlights</a>
            <a target="_blank" title="♬ Aesthetic - Gaspar"
                href="https://www.tiktok.com/music/Aesthetic-7087825341401565185?refer=embed">♬ Aesthetic -
                Gaspar</a>
        </section>
    </blockquote>
</div>